@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #F5F7F9;
    --primary-color: #1570EF;
    --text-color: #000000;
    
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;  
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;  
}

body { 
    height: 100vh;
    background: var(--body-color);
    transition: var(--trans-05);
}


/* ==================== SIDEBAR ==================== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--trans-05);
    z-index: 100;
}

.sidebar.close {
    width: 90px;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .text{
    font-size: 15.5px;
    font-weight: 500;
    transition: var(--trans-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.sidebar .image-text img {
    margin-top: 5px;;
    width: 45px;
    border-radius: 10px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
    transition: var(--trans-02);

}

.header-text .name{
    margin-top: 5px;
    font-weight: 600;
    color: var(--primary-color);
}

.header-text .profession{
    margin-top: -1px;
    
}

.sidebar header{
    position: relative;
}

.sidebar li {
    height: 50px;
    margin-top: 15px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px; 
}

.sidebar li .icon, 
.sidebar li .text {
    color: var(--text-color);
    transition: var(--trans-02);
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px; 
    transition: var(--trans-05);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--trans-04);
    border-radius: 6px;
}

.sidebar li a:hover {
    background: var(--primary-color);
    border-radius: 6px;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color)

}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home {
    position: relative;
    left: 90px;
    height:100vh;
    width: calc(100% - 90px);
}