<nav class="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                <img id="sidebar-logo" src="/appointment_system/assets/logo-0.png" alt="logo">
            </span>
            
            <div class="text header-text">
                <span class="name">STIConsult</span>
                <span class="system">Appointment System</span>
            </div>
        </div>
        
        <i class='bx  bx-chevron-right toggle'></i> 
    </header>

    <div class="menu-bar">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/appointment_system/pages/dashboard/student/dashboard.html">
                        <i class='bx  bx-dashboard icon'></i> 
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/appointment_system/pages/my-schedule/student/my-schedule.html">
                        <i class='bx  bx-calendar icon'></i> 
                        <span class="text nav-text">My Schedule</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/appointment_system/pages/book-schedule/book-schedule.html">
                        <i class='bx  bx-calendar-plus icon'></i> 
                        <span class="text nav-text">Book Schedule</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/appointment_system/pages/pending-requests/pending-requests-student.html">
                        <i class='bx  bx-hourglass icon'></i> 
                        <span class="text nav-text">Pending Request</span>
                    </a>
                </li>

            </ul>
        <div class="bottom-content">
            <li class="nav-link">
                        <a href="/appointment_system/auth/login.php">
                            <i class='bx  bx-arrow-out-right-square-half icon'></i>  
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
            </div>
    </div>
</nav>
